@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap");

.contenedorPrincipal{
  width: 33em;
  height: 33em;
  /* background-color: rgb(117, 244, 86); */
  
}
.spheraStyle{
  font-size: x-large;
  font-family: "Inter";
  font-weight: 600;
  color: fuchsia;
  
}